#circle{
    width:40px;
    height:40px;
    background:white;
    border-radius:50%;
    position:absolute;
    cursor:pointer;
    transition:all .15s ease;
}
#best{
    font-size:22px;
    margin-top:8px;
}