body{

    background:black;
    color:white;
    text-align:center;
    font-family:Arial,sans-serif;
    margin:0;
    overflow:hidden;

}

h1{

    margin-top:30px;
    font-size:48px;

}

p{

    font-size:24px;

}

#score,#best{

    font-size:22px;

}

#circle{

    position:absolute;

    width:40px;
    height:40px;

    background:white;

    border-radius:50%;

    cursor:pointer;

    transition:
    left .15s,
    top .15s,
    width .15s,
    height .15s,
    background .15s;

}